@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="contact">
    <header>
        <h3>Thông tin liên hệ</h3>
    </header>
    <p>
        <span class="label">Công ty Vượt Thời Gian</span>
        <span></span>
    </p>
    <p>
        <span class="label">Địa chỉ:</span>
        <span>458 Nguyễn Văn Công, P.3, Q.Gò Vấp, Tp.HCM</span>
    </p>
    <p>
        <span class="label">Điện thoại</span>
        <span> (08-8) 3 894 08 58</span>
    </p>
</section>

<div class="mapContainer">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.88357071647!2d106.67447410000001!3d10.820221200000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175291dbdf2de45%3A0xfcc25073e79f29aa!2zNDU4IE5ndXnhu4VuIFbEg24gQ8O0bmcsIHBoxrDhu51uZyAzLCBHw7IgVuG6pXA!5e0!3m2!1svi!2s!4v1402219251060" 
        width="720" height="400" frameborder="0" style="border:0"></iframe>
</div>

@*<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>*@